.App {
	padding: 60px 0 100px;
	max-width: 960px;
	margin: 0 auto;
}

body {
	background: #f9f8fe;
}

.App-header {
	margin: 30px 5px;
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 2px 5px gray;
}
.App-header h1 {
	box-shadow: 0 2px 5px gray;
}

.App-footer {
	text-align: center;
	margin: 30px 0;
}

.App-logo {
	height: 80px;
	width: 100px;
	border-radius: 2px;
	box-shadow: 0 2px 5px gray;
	margin-right: 10px;
}
